<footer>
    <div class="f-info">
          
        <div class="left">
            <div> &copy; 2025 WanderLust Private Ltd.</div>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="f-info-links">
                <a href="/privacy">Privacy</a>&nbsp;&nbsp;
                <a href="/terms">Terms</a>&nbsp;&nbsp;
                <a href="/sitemap">Sitemap</a>&nbsp;&nbsp;
                <a href="/companydetails">Company details</a>&nbsp;&nbsp;
            </div>
        </div>
        <div class="f-info-socials">
             <i class="fa-solid fa-globe">&nbsp;&nbsp;</i>English (IN)&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa-solid fa-indian-rupee-sign"></i>&nbsp;&nbsp;INR &nbsp;&nbsp;
            <i class="fa-brands fa-square-facebook"></i>&nbsp;&nbsp;
            <i class="fa-brands fa-square-instagram"></i>&nbsp;&nbsp;
            <i class="fa-brands fa-linkedin"></i>&nbsp;&nbsp;
        </div>
    </div>
</footer>